/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$ic_delete_name = 'icDelete';
$ic_delete_x = 31px;
$ic_delete_y = 0px;
$ic_delete_offset_x = -31px;
$ic_delete_offset_y = 0px;
$ic_delete_width = 22px;
$ic_delete_height = 22px;
$ic_delete_total_width = 53px;
$ic_delete_total_height = 50px;
$ic_delete_image = '../img/sprite.png';
$ic_delete = 31px 0px -31px 0px 22px 22px 53px 50px '../img/sprite.png' 'icDelete';
$ic_menu_name = 'icMenu';
$ic_menu_x = 0px;
$ic_menu_y = 32px;
$ic_menu_offset_x = 0px;
$ic_menu_offset_y = -32px;
$ic_menu_width = 22px;
$ic_menu_height = 18px;
$ic_menu_total_width = 53px;
$ic_menu_total_height = 50px;
$ic_menu_image = '../img/sprite.png';
$ic_menu = 0px 32px 0px -32px 22px 18px 53px 50px '../img/sprite.png' 'icMenu';
$ic_slc_mov_name = 'icSlcMov';
$ic_slc_mov_x = 0px;
$ic_slc_mov_y = 0px;
$ic_slc_mov_offset_x = 0px;
$ic_slc_mov_offset_y = 0px;
$ic_slc_mov_width = 31px;
$ic_slc_mov_height = 32px;
$ic_slc_mov_total_width = 53px;
$ic_slc_mov_total_height = 50px;
$ic_slc_mov_image = '../img/sprite.png';
$ic_slc_mov = 0px 0px 0px 0px 31px 32px 53px 50px '../img/sprite.png' 'icSlcMov';
$spritesheet_width = 53px;
$spritesheet_height = 50px;
$spritesheet_image = '../img/sprite.png';
$spritesheet_sprites = $ic_delete $ic_menu $ic_slc_mov;
$spritesheet = 53px 50px '../img/sprite.png' $spritesheet_sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
