@require '../../utilities/config.styl'
@require '../../utilities/_mixins/*'

@media (max-width: 1200px)
	footer
		padding 65px 8px 0
	.content_home
		.advertising, .advertising_banners
			padding 0 8px
		.advertising
			.ads_apps
				.text_content
					margin-left 141px
			.ads_combos
				.text_content
					margin-left 152px
				p
					margin 8px 0 12px
			article
				padding 8px
				height 178px
				.hack_space
					display none
				.text_content
					display block
					width auto
				.adv-imgads
					float left
					margin 0
				.play_Store
					margin-left 0
				.btn.btn_small
					margin-bottom 0
		section .tabs
			width 96%
			margin 0 auto
		.movies
			padding 0 8px
	.content_subsidiaries
		padding 0 8px
		h2
			padding 24px 0 26px
