| @extends('layouts.app')
| @section('title', 'INICIO')

| @section('content')
.container
	button.btn.btn_color_primary() Primary
	button.btn.btn_color_primary.is_round() Primary
	button.btn() Agregar
	a.btn() comprar 2
	a.btn.is_round() Agregar
	a.btn.btn_medium() Medium
	a.btn.btn_large() Large
	a.btn() Con esta toman todos
| @endsection
