/**
* Config
* @class Config
*/

/* Paths */
$img = '../../../img/'
$imgPath       = '../img/'
$pluginsPath = '../' + $imgPath + 'plugins/'
$fontsPath      	= '../../css/fonts/'
/*Activar el import in all.styl*/
//EncodeSans(w)
//	font-family 'Encode Sans', sans-serif
//	font-weight w
//EcondeSansEx(w)
//	font-family 'Encode Sans Expanded', sans-serif
//	font-weight w

backgroundRGBAPrimary(n)
	background-color rgba(234, 62, 37 , n)

backgroundRGBASecondary(n)
	background-color rgba(9, 41, 53 , n)

backgroundRBAGreyPrimary(n)
	background-color rgba(147,147,147,n)

backgroundOpacity(clr, o)
	background-color rgba(clr, o)


/* font family variables */
$EncdSExblack ='EncodeSansExpanded-black', sans-serif
$EncdSExBold ='EncodeSansExpanded-Bold', sans-serif
$EncdSExExtraBold ='EncodeSansExpanded-ExtraBold', sans-serif
$EncdSExExtraLigth ='EncodeSansExpanded-ExtraLigth', sans-serif
$EncdSExLight ='EncodeSansExpanded-Light', sans-serif
$EncdSExMedium ='EncodeSansExpanded-Medium', sans-serif
$EncdSExRegular ='EncodeSansExpanded-Regular', sans-serif
$EncdSExSemiBold ='EncodeSansExpanded-SemiBold', sans-serif
$EncdSExThin ='EncodeSansExpanded-Thin', sans-serif


$baseFontPx = 16px

/* Color variables */
$PrimaryColor =#EA3E25
$SecondaryColor = #092935
$ThirdColor = #497C8C
$BlackColor = #000000
$greyPrincipal = #939393

/* Layout variables */
$windowMinWidth = 1200px
$wrapperMaxWidth = 1280px
$wrapperWidth = 1280px
$iPad = 800px
$iPhone = 480px
