header
	.header_principal.box_center
		.logo
			h1 Delicores Distribuidora
			img(src="{{ asset('img/logo_delicores_v2.png') }}" alt="Delicores-distribuidora")
		.principal_search
			input.is_round(type="text" placeholder="Buscar por nombre o marca")
			i.icon.icon-search
		.menu_head
			ul
				li
					a(href="javascript:;") Contáctenos
				li
					a(href="javascript:;") Regístrate
				li
					a(href="javascript:;") Iniciar sesión
			.shop_cart
				i.icon.icon-shopping_basket
				.box_shopping_basket
					.box_total
						.ctn.ctn_quantity
							span Productos agregados
							p 4
						.ctn.ctn_payment
							span Total
							p S/2600.00
	nav
		ul
			li
				a(href="javascript:;") Vinos
			li
				a(href="javascript:;") Licores
			li
				a(href="javascript:;") Espumantes
			li
				a(href="javascript:;") Complementos
			li
				a(href="javascript:;") Ofertas
			li
				a(href="javascript:;") Notas
		ul.sub_menu
			li
				a(href="javascript:;") sub 1
			li
				a(href="javascript:;") sub 1
			li
				a(href="javascript:;") sub 1
			li
				a(href="javascript:;") sub 1
