
- var date = new Date()
- var dateNow = Date.now()
- var page = {}
- page.charset         = "utf-8"
- page.lang            = "es"

- page.static          = "/"
- page.url             = "/"
- page.app 			  		 = "/static/"
- page.title           = "FullCine"
- page.description     = "FullCine es una empresa peruana dedicada a brindar el mejor entretenimiento cinematografico"
- page.keywords        = "fullcine, estrenos, cine, cine Perú, cartelera, películas, entretenimiento Perú, film ,filme, movie trailer, trailer, video, cine bar, estrenos, próximos estrenos, promociones, cines peruanos, películas peruanas, salas de cine, salas de cine Perú, novedades de cine, entretenimiento perú"
- page.author          = "@ronnyfly2"

- page.name            = "empty"
- page.viewport        = "width=device-width, initial-scale=1.0"
- page.robots          = "index, follow"
- page.favicon         = page.app + "/img/logo-uvk.png"

- page.version 				 = '?ver='+ dateNow
- page.og              = {}
- page.og.type         = "website"
- page.og.image        = page.app + "/img/logo.png"
