footer
	background-color #17171a
	background-image url('../img/bg_lines.jpg')
	background-repeat repeat-x
	margin-top 28px
	padding 65px 0 0 0
	min-height 180px
	position relative
	z-index 4
	hr
		height 100px
		width 0px
		border 0px
		margin 0
		border-left 1px solid #808080
		float left
		margin-left 20px
	.redes
		font-size 15px
		margin 0px 0px 0px 50px
		position relative
		.text_li
			display block
			font-size 15px
			color #808080
			text-transform uppercase
			margin-bottom 15px
		li
			display inline-block
			vertical-align top
			margin 0 5px 0 5px
			a
				display block
				padding 8px 0px 0px 0px
				width 30px
				height 30px
				border-radius 50%
				background-color #808080
				text-align center
				color white	
	ul
		position relative
		float left
		font-size 14px
		li
			display block
			margin 0px 50px 10px 5px
			a
				color #808080
				text-transform uppercase
				font-weight bolder
				&:hover
					color white
	.logo_footer
		float right
