header
	width 100%
	position fixed
	top 0px
	font-size 0px
	z-index 5
	background-color white
	hr
		height 30px
		border 0px
		margin 0px
		padding 0px
		border-left 1px solid white
		display inline-block
		width 0px
		vertical-align middle
.header_principal
	text-align center
	padding-top 25px
	padding-bottom 25px
	>div
		display inline-block
		vertical-align middle
		width 30%
	.principal_search
		position relative
		width 36%
		margin 0 1.4%
		input
			width 100%
			padding 0 20px
			max-width 642px
			height 42px
			border none
			outline none
			background-color #f9f9f9
			font-size 1.2rem
			font-family $EncdSExLight
		i
			position absolute
			right 7px
			top 7px
			font-size 1rem
			color white
			height 30px
			width 30px
			text-align center
			background-color #dbdbdb
			line-height 1.8
			border-radius 50%
	.logo
		max-width 270px
		width 24%
		h1
			font-size 0
		img
			width 100%
	.menu_head
		width 37%
		margin-left .2%
		ul
			display inline-block
			width 93%;
			vertical-align middle
			a
				padding 0
				font-size 1rem
				color $SecondaryColor
				font-family $EncdSExLight
			li
				border-right 1px solid #dbdbdb
				display inline-block
				vertical-align middle
				width 33%
				text-align center
				&:last-child
					border-right none
		.shop_cart
			position relative
			width 7%
			display inline-block
			vertical-align middle
			text-align center
			cursor pointer
			i.icon
				font-size 26px
				color #ea3e25
				line-height .8
			.box_shopping_basket
				position absolute
				font-size 15px
				width 390px
				right 0
				border 1px solid #ea3e25
				border-radius 6px
				padding 20px
